# These file extensions and directories will be ignored by git tracking:

*.o
*.s
*.a
*.so*
*.user
*.out
*.gch
*.txt
*.disassembly

*build-*/
stdc_default_ver
stdc_ver
Network/TINY_Web_Server/TINY_Web_Server
